[submodule "Vorlesung/2022-06-15-Control-Theory/src/utopia"]
	path = Vorlesung/2022-06-15-Control-Theory/src/utopia
	url = https://github.com/xoolive/utopia
[submodule "Vorlesung/2022-06-29-Machine-Learning/utopia"]
	path = Vorlesung/2022-06-29-Machine-Learning/utopia
	url = https://github.com/xoolive/utopia
[submodule "Vorlesung/2022-06-29-Machine-Learning/src/utopia"]
	path = Vorlesung/2022-06-29-Machine-Learning/src/utopia
	url = https://github.com/xoolive/utopia
